.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 344px;
}

.li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid var(--neutral-header);
}
