.select-field {
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid #4a4949;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 16px 8px;
}

.select-field .option {
  background-color: #4a4949;
}
